<div th:fragment="sidebar">

    <div class="sidebar">

        <a href="#" onclick="showSection('dashboard')">
            Dashboard
        </a>

        <a href="#" onclick="showSection('report')">
            Report Generation
        </a>

        <a href="#" onclick="showSection('lastUpdate')">
            Last Update Status
        </a>

        <a href="#" onclick="showSection('mismatch')">
            Mismatch Analysis
        </a>

        <a href="#" onclick="showSection('statistics')">
            File Statistics
        </a>

        <a href="#" onclick="showSection('health')">
            System Health
        </a>

    </div>

</div>