<div th:fragment="sidebar">

	<div class="sidebar">

		<a href="#" onclick="showSection('dashboard')">
			Dashboard
		</a>

		<a href="#" onclick="showSection('report')">
			Report Generation
		</a>

		<a href="#" onclick="showSection('lastUpdate')">
			Last Update Status
		</a>

		<a href="#" onclick="showSection('mismatch')">
			Mismatch Analysis
		</a>

		<a href="#" onclick="showSection('statistics')">
			File Statistics
		</a>

		<a href="#" onclick="showSection('health')">
			System Health
		</a>


		<a href="#" onclick="showSection('returnOnFlySection')">
			Return On The Fly
		</a>

		<a href="#" onclick="showSection('crnReport')">
			CRN Report
		</a>

		<a href="#" onclick="showSection('registrationReport')">
			Registration Report
		</a>

		<a href="#" onclick="showSection('ledger')">
			Ledger
		</a>

		<a href="#" onclick="showSection('EwayBillNew')">
			Eway Bill New Search By EWB No.
		</a>

		<a href="#" onclick="showSection('ewaySearch')">
			E-Way Bill Search By Date
		</a>

		</li>

	</div>

</div>