<div th:fragment="statistics">

    <h4 class="mt-3">
        File Statistics
    </h4>

    <div class="row">

        <div class="col-md-3">
            <div class="card stat-card">
                <h6>Total Files</h6>
                <h2 id="totalFiles">0</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card stat-card">
                <h6>Total JSON</h6>
                <h2 id="totalJson">0</h2>
            </div>
        </div>

    </div>

</div>