<div th:fragment="systemHealth">

    <h4 class="mt-3">
        System Health
    </h4>

    <table class="table table-bordered">

        <tr>
            <td>Database</td>
            <td>
                <span class="badge bg-success">
                    UP
                </span>
            </td>
        </tr>

        <tr>
            <td>Scheduler</td>
            <td>
                <span class="badge bg-success">
                    RUNNING
                </span>
            </td>
        </tr>

        <tr>
            <td>API</td>
            <td>
                <span class="badge bg-success">
                    ACTIVE
                </span>
            </td>
        </tr>

    </table>

</div>